.App {
  color: #9ca3af;
  background-image: linear-gradient(#050871 0%, #02010c 97.5%);
}

:root {
  --neon-orange: #f17105;
  --bg-navbar: #020132;
}

a:hover {
  text-decoration: none !important;
}

.active {
  text-shadow: 0 0 5px var(--neon-orange), 0 0 7px var(--neon-orange),
    0 0 10px var(--neon-orange), 0 0 21px var(--neon-orange);
}

.preloader {
  background-image: linear-gradient(#050871 0%, #02010c 97.5%);
}

#about-me,
#contact,
#resume,
#work {
  position: relative;
  z-index: 2;
}

/* ---------navbar section--------- */
.navbar {
  z-index: 10;
  background-color: transparent;
  height: 11dvh;
}

.navbar.colorChange {
  background-color: var(--bg-navbar);
  transition: ease-in-out 0.1s;
}

/* change the padding and margin so w-100 works when adding the hover underline effect  */
.navbar-nav .nav-link {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.navbar-nav .nav-item {
  position: relative;
  margin: 0 20px;
}

.nav-item a {
  color: #fff !important;
}

.nav-item a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 5px;
  background-color: var(--neon-orange);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
}

.nav-item a:hover::after {
  width: 100%;
  transition: width 0.35s ease-in-out;
}

/* to change the color the menu button on small screen */
.navbar-toggler span {
  display: block !important;
  background-color: #9ca3af !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
/* ---------about-me section--------- */
article.react-activity-calendar {
  margin-top: 7rem;
}

/* ---------project section--------- */
.project,
.skill {
  background-color: #f0f8ff20;
}

.project:hover {
  transform: scale(1.01);
  transition: ease-in;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 20px var(--neon-orange);
}

.project a {
  color: #8eacfe;
}

.project a:hover {
  color: #dbdbdb;
}

.badges > img {
  width: 150px;
  height: 150px;
}

/* ---------footer section--------- */
.side-icons {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 0;
}
.social-icon {
  width: 40px;
  height: 40px;
  background-color: #9ca3af;
}

.social-icon:hover {
  background-color: #fff;
}

/* remove the underline hover effect on tablet and mobile */
@media (max-width: 991px) {
  .nav-item a::after {
    display: none;
  }
  .bg-menu {
    background-color: var(--bg-navbar);
  }
  article.react-activity-calendar {
    margin-top: 1.5rem;
  }
  .contact-form {
    margin-top: 3rem;
  }
}

@media (max-width: 575.98px) {
  .navbar {
    width: 100%;
  }
  #about-me h1 {
    padding-bottom: 10px !important;
  }
  #about-me,
  #contact,
  #resume,
  #work {
    padding-top: 0px;
  }
}
