.navbar-container {
  background-color: #1f2937;
  position: fixed;
  z-index: 2;
}

.navbar {
  height: 70px;
  width: 85%;
  margin: 0 auto;
}

.bg-menu {
  background-color: #1f2937;
}

#about-me,
#work,
#contact {
  position: relative;
  top: 70px;
}

/* ---------about me section--------- */
.line-height-2 {
  line-height: 2;
}

.orange {
  color: #ff7b19;
}

/* ---------project section--------- */
.project {
  background-color: #f0f8ff20;
}

.project:hover {
  transform: scale(1.01);
  transition: ease-in;
  border: 1px solid #fff;
  color: #fff;
}

.project a {
  color: #8eacfe;
}

.project a:hover {
  color: #fff;
}

/* ---------contact section--------- */
.map {
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: 50%;
  height: 500px;
}

img {
  max-width: none;
}

@media (max-width: 575.98px) {
  .navbar {
    width: 100%;
  }
  #about-me h1 {
    padding-bottom: 10px !important;
  }
}
