.navbar-container {
  background-color: #1f2937;
  position: fixed;
  z-index: 2;
}

.navbar {
  height: 70px;
  width: 85%;
  margin: 0 auto;
}

.navbar-nav .nav-item {
  position: relative;
  margin: 0 20px;
}

.nav-item a:hover {
  transition: ease-in-out 0.2s;
}

.nav-item a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 5px;
  background-color: #ff5f1f;
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
}

.nav-item a:hover::after {
  width: 80%;
  transition: width 0.35s ease-in-out;
}

.neon-orange {
  text-shadow: 0 0 10px #fff, 0 0 21px #fff;
}

.bg-menu {
  background-color: #1f2937;
}

#about-me,
#work,
#contact,
#resume {
  position: relative;
  top: 70px;
}

/* ---------about me section--------- */
.line-height-2 {
  line-height: 2;
}

.orange {
  color: #ff7b19;
}

/* ---------project section--------- */
.project,
.skill {
  background-color: #f0f8ff20;
}

.project:hover {
  transform: scale(1.01);
  transition: ease-in;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 20px #fff;
}

.project a {
  color: #8eacfe;
}

.project a:hover {
  color: #fff;
}

/* ---------contact section--------- */
.map {
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: 50%;
  height: 500px;
}

img {
  max-width: none;
}

@media (max-width: 575.98px) {
  .navbar {
    width: 100%;
  }
  #about-me h1 {
    padding-bottom: 10px !important;
  }
}
